@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    font-family: 'Nunito', sans-serif;
    color: #0B0C0C;
}

.nav {
    background-color: black;
    margin-bottom: 1em;
}

.topics-block {
    margin-left: 1em;
    margin-bottom: 1em;    
    display: flex;
    align-items: center
}



.button {
    margin: 0.2em;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media h3 {
    padding-left: 15px;
    margin-bottom: 0;
}



.fa-trash-o {
    cursor: pointer
}