@import url('https://fonts.googleapis.com/css?family=Nunito');

/*NAVBAR*/
.hero {
    height: 200px;
    /*margin-bottom: 1em;    */
}

.northcoders-logo {
    height: 80px;
}

.nav-heading {
    margin-top: 5px
}

#nav-head {
    color: #3C3C3B;
    font-weight: bold
}

#heading-container {
    background: url('./banners/news-banner2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

/*NAVBAR-TOPICS*/
.navbar-topics {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center
}

.button {
    background: #0E81C7;
    color: #fff;
    font-size: 1.2em;
    height: 35px;
    width: 80px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
}

.button {
    margin: 0.4em;
    opacity: 1
}
 
.button:hover {
    color: #fff;
    opacity: 0.75;
    background-color: lightskyblue  
}

/*ARTICLE-LIST*/
#ArticleList {
    padding-bottom: 30px;
}

/*COMMENT-CARD*/
#comment-heading {
    color: lightskyblue;
    margin-bottom: 10px
}

#flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*OTHER*/

body {
    font-family: 'Nunito', sans-serif;
    color: #0B0C0C;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media h3 {
    padding-left: 15px;
    margin-bottom: 0;
}

.fa-trash-o {
    cursor: pointer
}

.comment-form {
    margin-bottom: 1.5em
}

.votes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.Author-name {
    color: lightskyblue;
}

.loading-spinner {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    margin-top: 150px;
    color: #00C5A1;
}

Link {
    color: lightskyblue
}

a {
    color: lightskyblue
}

h4 {
    color: lightskyblue
}

#submit-button {
    background-color: #0E81C7;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center
}

#submit-button:hover {
    color: #fff;
    opacity: 0.75;
    background-color: lightskyblue     
}