@import url('https://fonts.googleapis.com/css?family=Nunito');

/*NAVBAR*/
.hero {
    height: 200px;
    margin-bottom: 1em;    
}

.northcoders-logo {
    height: 80px;
}

.nav-heading {
    margin-top: 5px
}

#nav-head {
    color: #3C3C3B;
    font-weight: bold
}

#heading-container {
    background: url('./banners/news-banner2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

/*ARTICLE-LIST*/
#ArticleList {
    padding-bottom: 30px;
}

/*COMMENT-CARD*/
#comment-heading {
    color: #00C5A1;
    margin-bottom: 10px
}

#flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*OTHER*/

body {
    font-family: 'Nunito', sans-serif;
    color: #0B0C0C;
}

.topics-block {
    margin-bottom: 1em;    
    display: flex;
    align-items: center
}

.button {
    margin: 0.2em;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media h3 {
    padding-left: 15px;
    margin-bottom: 0;
}

.fa-trash-o {
    cursor: pointer
}

.comment-form {
    margin-bottom: 1.5em
}

.votes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.Author-name {
    color: #00C5A1;
}

.loading-spinner {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    margin-top: 150px;
    color: #00C5A1;
}